# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Docker
docker-compose.override.yml
.docker/

# Data Volumes
faust_data/
postgres_data/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
debug_import.py
test_log.txt
test_full_log.txt
generator_logs.txt
